{% extends 'base.html' %}

{% block content %}
<form id="form_id" method="post" action="/sort/selection" name="myform" enctype=multipart/form-data>
    <div class="form-group">
        <label for="files">Masukan file</label>
        <input type="file" class="form-control-file" id="inputfile" name=file accept=".csv">
    </div>
    <label for="nomorkolom">Masukan nomor kolom yang jadi acuan sort</label>
    <input type="text" id="nomorkolom" placeholder="number">
    <p>Pilih algoritma</p>
    <div class="form-check">
        <input class="form-check-input" type="radio" id="selection" name="sort" value="selection">
        <label class="form-check-label" for="sort">
          selection sort
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" id="quick" type="radio" name="sort" value="quick">
        <label class="form-check-label" for="sort">
          quick sort
        </label>
    </div>
    <br>
    <p>Pilih orientasi</p>
    <div class="form-check">
        <input class="form-check-input" type="radio" id="asc" name="orientasi" value="asc">
        <label class="form-check-label" for="orientasi">
          Ascending / menaik
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" id="desc" type="radio" name="orientasi" value="desc">
        <label class="form-check-label" for="sort">
          Descending / menurun
        </label>
    </div>
    <br>
    <input type="button" value="Submit"/>
</form>

<script>
    function myfunction() {
        if(document.getElementById('selection').checked){
            document.getElementById("form_id").action = "/sort/selection";
            document.getElementById("form_id").submit();
        } else if (document.getElementById('quick').checked){
            document.getElementById("form_id").action = "/sort/quick";
            document.getElementById("form_id").submit();
        }else {  
            alert("Please check algorithm");
        } 
    }
</script>
{% endblock %}